<!-- entête titre et file d'arial -->
<div class="card-heading" ng-init="onState()">
    <h2>{{(isUpdating && !profileForm.$visible) ? 'Détails' : 'Edition'}} du profil</h2>
    <div ncy-breadcrumb></div>
</div>

<!-- entête buttons d'actions-->
<div class="card-tools">
    <ul class="list-inline">

        <!-- action de modification -->
        <li ng-show="profile.identifiant != null">
            <a md-ink-ripple id="btn-update" class="md-btn md-flat"
               ng-click="openForm(profileForm)">
                <span class="mdi-editor-mode-edit i-20"></span>
            </a>
        </li>

        <!-- action de retour à la liste -->
        <li><a id="btn-list" class="md-btn md-flat"
               ui-sref="ui.profiles.list">
            <span class="mdi-action-view-list i-20"></span>
        </a>
        </li>
    </ul>
</div>

<!-- corps -->
<div class="card-body no-padding-b">
    <section class="row">
        <div class="col-md-12">

            <!-- formulaire d'édition d'un profil -->
            <form class="form-horizontal"
                  editable-form name="profileForm"
                  onaftersave="doEdit()">

                <!-- champ caché id -->
                <div class="form-group" ng-init="isUpdating = (profile.identifiant == null) ? false : true">
                    <label class="col-sm-3 control-label hidden">Id</label>
                    <div class="col-sm-6">
                        <input type="hidden" ng-model="profile.identifiant"
                               class="form-control" id="identifiant">
                        {{(!isUpdating) ? profileForm.$show() : ''}}
                    </div>
                </div>

                <!-- champ nom du profil -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Nom
                        <small class="text-danger">*</small>
                        : </label>
                    <div class="col-sm-6">
                        <p ng-class="{'form-control-static':(isUpdating && !profileForm.$visible)}">
                           <span editable-text="profile.nom"
                                 e-id="nom"
                                 ng-init="motif = '\\w' "
                                 onbeforesave="validMinMaxAndPattern($data, 1, 50, motif )"
                                 e-placeholder="Code du profil"
                                 e-formclass="form-control no-borders">
                              {{ profile.nom || 'aucune valeur' }}
                            </span>
                        </p>
                    </div>
                </div>

                <!-- button de validation et d'annulation -->
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
							<span ng-show="profileForm.$visible">
								<button type="submit" md-ink-ripple id="btn-save"
                                        class="md-btn md-raised m-b btn-fw green"
                                        ng-disabled="profileForm.$waiting">Enregistrer</button>
								<button type="reset" md-ink-ripple
                                        id="btn-cancel" class="md-btn md-flat btn-fw"
                                        ng-disabled="profileForm.$waiting"
                                        ng-click="closeForm(profileForm)">Annuler</button>
							</span>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

