<div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="navbar">
        <div class="navbar-brand m-t-lg text-center">
            <img src="app/images/default_small.png" alt="." style="max-height: 36px;">
            <span class="m-l inline">Changement du passe</span>
        </div>
    </div>

    <div ng-controller="AccountController" class="p-lg panel md-whiteframe-z1 text-color m">
        <div class="m-b text-sm text-danger text-center">
            {{msgError}}
        </div>
        <form name="form" ng-submit="reset()">
            <div class="md-form-group float-label">
                <input type="password" class="md-input" ng-model="keyAndPasswordVM.newPassword" required>
                <label>Nouveau Mot de passe</label>
            </div>
            <div class="md-form-group float-label">
                <input type="password" class="md-input" ng-model="keyAndPasswordVM.confirmPassword" required>
                <label>Confirmer passe</label>
            </div>
            <button md-ink-ripple type="submit" class="md-btn md-raised green btn-block p-h-md">Réinitialiser</button>
        </form>
    </div>

    <div class="p-v-lg text-center">
        <div class="m-b">ePaiement v1.0</div>
        <div>&copy; 2017 - powered By ACE3I</div>
    </div>
</div>
